<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.Password_recordMapper">
    <insert id="addRecord" parameterType="password_record">
        insert into password_record(u_phone,status,p_createtime,validate_number)values (#{u_phone},#{status},#{p_createtime},#{validate_number})
    </insert>
    <update id="updateRecord" parameterType="password_record">
         update password_record set u_phone=#{u_phone},status=#{status},validate_number=#{validate_number} where p_id=#{p_id}
    </update>
    <select id="querryRecordByPhone" parameterType="String" resultType="password_record">
        select password_record.* from password_record where u_phone=#{u_phone}
    </select>
    <select id="querryRecordById" parameterType="Integer" resultType="password_record">
        select password_record.* from password_record where p_id=#{p_id}
    </select>
    <delete id="deleteRecord" parameterType="Integer">
        delete from password_record where p_id=#{p_id}
    </delete>
</mapper>